.Notifications {
  display: flex;
  text-align: left;
  justify-content: flex-end;
  align-items: flex-start;
}

.Notifications p {
  font-family: 'Galano Grotesque Alt', sans-serif;
  font-weight: 400;
  padding: 1.5rem 0 .3rem 1.5rem;
  margin: 0;
}

.Notifications-content ul {
  padding: 2rem;
  border: 5px dotted red;
}

li[data-notification-type="default"] {
  font-family: 'Galano Grotesque Alt', sans-serif;
  font-weight: 400;
  color: blue;
}

li[data-notification-type="urgent"] {
  font-family: 'Galano Grotesque Alt', sans-serif;
  font-weight: 400;
  color: red;
}

ul > li:nth-child(3) {
  font-family: 'Galano Grotesque Alt', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: red;
}
